@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

#Header{
    
    height: 100vh;
    .swiper {
        width: 100%;
        height: 100%;
      }
      
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
      
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .content{
            
            color: #fff;
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            h1{
                font-family: 'Indie Flower', cursive;
                font-size: 60px;
            }
            button{
                background-color: transparent;
                color: #fff;
                border: 3px solid #fff;
                padding: 15px 35px;
            }
        }
      }
      
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: contrast(50%) brightness(30%);
      }
}